@{
    ViewBag.Title = "Contact";
}
<h2>Контактная информация</h2>


<address>
    Калининград,<br />
    Россия<br />
    <abbr title="Телефон">Телефон:</abbr>
    +79527961199
</address>

<address>
    <strong> Техническая Поддержка :</strong>   <a href="mailto:vereshhagin98@Mail.ru">vereshhagin98@Mail.ru.</a><br />

</address>