@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Менеджер проектов</h1>
    <p class="lead">Менеджер проектов- это приложение которое позволяет управлять Вашими проектами в один клик.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ссылка на GitHub профиль </h2>
        <p>
            Узнайте о авторе проекта.
        </p>
        <p><a class="btn btn-default" href="https://github.com/VerDan777">Перейти на GitHub профиль;</a></p>
    </div>
 
</div>